body{
    background-color: antiquewhite;
    margin: 0;
}

*{
    box-sizing: border-box;
}

:root{
    --video-bg: black;
}

.youtube-video-holder{
    width: 100%;
    background-color: var(--video-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

body>h1{
    text-align: center;
}

img{
    max-width: 30vw;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px;
    width: 100%;
}

section:nth-child(even){
    flex-direction: row-reverse;
}

.mycontainer{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}